/*
*
*			Media Queries for Responsive Web Design - basic
*/

/* Big tablet - 1024px - 1200px
*****************************************/

@media only screen and (max-width: 1200px) {
    

}


/* Tablets - 768px - 1023px
*****************************************/

@media only screen and (max-width: 1023px) {
    .home-title{
        font-size: 2rem;
        padding: 1.8rem 0 1.8rem 0;
      }
   
       .sudoku-table-container{
           position: relative;
            width: 100%;
            margin-top: 1rem;
            padding: 0 0;
            
       }
       .sudoku-table{
       float: none;
       margin-left: 50%;
       transform: translateX(-50%);
       -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
       -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
}
 
      .sudoku-control-container{
       width: 100%;
       position: relative;
       padding: 0;
       margin-top: 1rem;
      

      }
      .sudoku-control-button-container{
        float: none;
        margin-left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
}


/* Small phones/ tablets - 481px - 767px
*****************************************/

@media only screen and (max-width: 768px) {

    .home-title{
        font-size: 1.8rem;
        padding: 1.5rem 0 1.5rem 0;
      }

}


/* Small phones - Less than or equal to 480px
*********************************************/

@media only screen and (max-width: 480px) {

    .sudoku-table{
        font-size: 80%;
    }
    .sudoku-table td, 
    .sudoku-table__input{
        padding: 0;
        width: 38px !important;
        height: 43px !important;
    }
    .btn-control{
        width: 30%;
        margin-left: 10%;
        color: white;
        
      }
      .btn-reset{
        width: 75%;
        margin-left: 10%;
        color: white;
      }
    .btn{
        padding: .4rem .6rem .4em .6rem;
    }
    .control-info-row p{
        margin-left: 4rem;
      }
}

@media only screen and (max-width: 417px) {
    .sudoku-table{
        font-size: 70%;
    }
    .sudoku-control-container{
        padding-left: 2rem;
    }
    .sudoku-table td, 
    .sudoku-table__input{
        width: 35px !important;
        height: 40px !important;
    }
  
}